@import './base.css';

:root {
  /* main colors */
  --primary: #1976d2;
  --secondary: #26A69A;
  --accent: #9C27B0;
  --dark: #1d1d1d;
  --dark-page: #121212;
  --positive: #21BA45;
  --negative: #C10015;
  --info: #31CCEC;
  --warning: #F2C037;

  /* Other colors */
  --light-gray-blue: #CCCCCE;
  --white-color: white;
  --primary-dark: #0f4a92;

  /* Values */
  --main-radius: 0.5rem;
  --btn-input-login: 21.5rem;
}

#app {
  height: 100%;
  margin: 0; /* Elimina el margen predeterminado del body y evita que aparezca la barra de desplazamiento horizontal */
}

body {
  color: var(--dark);
  font-family: Tahoma, sans-serif;
  font-size: 1rem;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

.main-login-container {
  align-items: center;
  background-color: var(--primary);
  display: flex;
  height: 90%;
  justify-content: center;
  padding: 2.6% 0;
}

.login-content {
  align-items: center;
  background-color: var(--white-color);
  border-radius: var(--main-radius);
  display: flex;
}

.input-common {
  border-radius: var(--main-radius);
  border: 0.1em solid var(--light-gray-blue);
  box-sizing: border-box;
  height: 3.125em;
  margin: 0.5em auto;
  padding: 0em 1em;
}

.input-login-page {
  width: var(--btn-input-login);
}

.input-create-account {
  width: 10.3rem;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-right-0 {
  margin-right: 0;
}

.title {
  font-size: 2rem;
  margin: 0rem 0em 0.4em 0em;
  text-align: center;
}

.btn-login {
  background-color: var(--primary);
  border-radius: var(--main-radius);
  border: none;
  color: var(--white-color);
  cursor: pointer;
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  margin: 1em auto;
  width: var(--btn-input-login);
}

.btn-login:hover {
  background-color: var(--primary-dark);
}

.form-content {
  border-bottom: 1px solid var(--light-gray-blue);
  width: 21.5rem;
}

.login-form {
  width: 26.25rem;
}

a {
  color: var(--dark);
  cursor: pointer;
}

a:hover {
  color: var(--primary);
  text-decoration: underline;
}

input:focus {
  border-color: var(--primary);
  outline: none;
}

.login-photo {
  border-bottom-left-radius: var(--main-radius);
  border-top-left-radius: var(--main-radius);
}

input[type="checkbox"] {
  margin-top: 0.1em;
}

.txt-suggestions {
  margin: 1em auto;
  text-align: center;
  width: var(--btn-input-login);
}

/* Extra small devices (phones, less than 576px) */
@media (max-width: 575.98px) {
  .login-photo {
    display: none;
  }

  .title {
    margin-top: 1.5rem;
  }

  .txt-suggestions {
    margin-bottom: 1.5rem;
  }
}

/* Small devices (phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .login-photo {
    display: none;
  }

  .title {
    margin-top: 1.5rem;
  }

  .txt-suggestions {
    margin-bottom: 1.5rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .login-photo {
    display: none;
  }

  .title {
    margin-top: 1.5rem;
  }

  .txt-suggestions {
    margin-bottom: 1.5rem;
  }
}